.hidden {
  visibility: hidden;
  opacity: 0;
  height: 0px;
  padding: 0;
  margin: 0;
  transition: all 0.5s;// visibility .5s, opacity .5s linear, height 0.5s;
}
.show {
  visibility: visible;
  height: auto;
  opacity: 1;
  transition: visibility .5s, opacity .5s linear, height 0.5s;
}